body{
    font-family: "Nunito";
}

#nav-title{
    margin-left: 220px;
    color: white;
    font-weight: 600;
    font-size: 25px;
}
#navbar{
    background-color: #5161ce;

}
.nav-link{
    color: white;
}
#nav-item1{
    margin-left: 700px;
}

#land-title{
    color: #6C63FF;
    font-size: 100px;
    font-weight: 600;
    margin-top: 140px;
}

.land-sub{
    color: white;
    -webkit-text-stroke: 1px #6C63FF;
    font-size: 25px;
    font-weight: 300;
    margin-left: 200px;
    margin-top: -30px;
}
#p1{
    margin-left: 800px;
    width: 430px;
    margin-top: -150px;
}
.land-but{
    background-color: #6C63FF;
    text-decoration: none;
    height: 55px;
    margin-top: -50px;
    margin-left: 120px;
    width: 180px;
    border: none;
    border-radius: 25px;
}

#but-text{
    color: white;
    text-decoration: none;
}

#login-title{
    color: #5161ce;
    font-weight: 600;
    font-size: 60px;
    margin-top: 100px;
    margin-left: 520px;
}
#reg{
    color: white;
    text-decoration: none;
}

.sub-but{
    margin-top: 50px;
    margin-left: 530px;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 20px;
}

.form-div{
    width: 300px;
    margin-left: 450px;
    margin-top: 40px;
    margin-bottom: -20px;
}
.label{
    margin-left: 100px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 300;
}

#or{
    margin-left: 570px;
}

.alt-button{
    margin-left: 530px;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 20px;
}
.right{
    margin-left: 370px;
    margin-top: 50px;
}

#reg-title{
    color: #5161ce;
    font-weight: 600;
    font-size: 60px;
    margin-top: -20px;
    margin-left: 530px;
    margin-bottom: -20px;
    margin-top: 20px;
}

#p2{
    margin-left: -20px;
    margin-top: -650px;
    width: 430px;
}

.w-title{
    margin-left: 450px;
    margin-top: 100px;
    color: #5161ce;
    font-weight: 600;
}
.w-form{
    width: 300px;
}
.w-div{
    margin-top: 80px;
    margin-left: 410px;
}
.w-body{
    margin-top: 50px;
    margin-left: 410px;
}

.p-title{
    color: #5161ce;
    font-weight: 600;
    font-size: 80px;
    margin-left: 400px;
    margin-top: 60px;
}

.p-left{
    margin-top: 80px;
    margin-left: 100px;
}

.p-sub{
    font-size: 40px;
    font-weight: 600;
}

#p3{
    width: 480px;
}

#prod{
    text-decoration: none;
    color: white;
}